@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --fz: 14px;

  /* font family */
  --f-u-r: "Ubuntu", sans-serif;


  /* color */
  --c-p: #74b6fd;
  --c-s: #ffc107;
  --c-f1: #222222;
  --c-l: #e0e0e0;
  --c-b: #f3f3f3;
  --c-f2: #ffffff;
}